<section ng-controller="AlbumsController" data-ng-init="find()">
    <div class="row insta-list category-list">
      <div ng-repeat="album in albums" class="col-md-4 col-xs-6 item">
          <a data-ng-href="/#!/albums/{{album._id}}" title="{{album.name}}">
          <img ng-src="https://c2.staticflickr.com/8/7378/16351162390_5fc2373420_c.jpg" preload-img fallback-img="/modules/core/client/img/placeholder.jpg" alt="{{photo.name}}">
          <span class="text">{{album.name}}</span>
        </a>
      </div>
    </div>
</section>
